*{
    padding: 0;
    margin: 0;
    font-family: "Spicy Rice", serif;
    box-sizing: border-box;
}
html {
    scrollbar-color: #3e006b #f0f0f0; 
    scrollbar-width: thin;
}
body{
    background-image: linear-gradient(to top,#1d0035 50%,#3e006b);
}
.navbar{
    width: 85%;
    height: 80vh;
    margin: 70px auto;
    border-radius: 20px;
    background-image: url('images/6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px #0000007a;
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left,#3e006b3c,#1d0035ea);
    border-radius: 20px;
}
.nav{
    width: 100%;
    height: 100px;
    position: absolute;
}
.nav .logo{
    float: left;
    margin-left: 10px;
}
.nav .links{
    float: right;
}
.nav ul{
    list-style-type: none;
}
.nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.nav ul li a{
    color: #fff;
    line-height: 100px;
    font-size: 22px;
    text-decoration: none;
    text-shadow: 2px 2px 2px #000;
    transition: 0.5s;    
}
.nav ul li a:hover{
    color: #fac401;
}
.nav .fa-solid{
    display: none;
}
.nav .links button,
.main-title button,
.story-content .btn button
{
    width: 120px;
    height: 35px;
    color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #000;
    color: #fac401;
    transition: 0.5s;
    background-image: linear-gradient(to left,#3e006b,#1d0035);
}
.nav .links button:hover,
.main-title button:hover,
.story-content .btn button:hover
{
    cursor: pointer;
    box-shadow: 2px 2px 10px #000;
    background-image: linear-gradient(to left,#1d0035,#3e006b);  
}
.clear{
    clear: both;
}
.main-title{
    position: absolute;
    top:170px;
    left: 30px;
    color:#fac401;
    text-shadow: 2px 2px 2px #000;
    font-size: 40px;   
}
.text{
    font-size: 22px;
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}
.main-title button{
    width: 160px;
    height: 50px;
    font-size: 18px;
    box-shadow: 2px 2px 5px #000;
    background-image: linear-gradient(to left,#3e006b,#1d0035);
    margin-top: 30px;
}
.social-media{
    top: 210px;
}
.facebook,.twitter,.insta,.linkedin,.youtube{
    border-top-right-radius:80px;
    border-bottom-right-radius:80px;
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: 0.5s;
    position: fixed;
}
.facebook{
    background-color: #4168b063;
    top:220px ;
    left:-20px ;  
}
.twitter{
    background-color: #1ca2f06e;
    top:280px ;
    left:-20px ;
}
.insta{
    background-color: #e2306b72;
    top:340px ;
    left:-20px ;
}
.linkedin{
    background-color: #2868b269;
    top:400px ;
    left:-20px ;
}
.youtube{
    background-color: #fe010164;
    top:460px ;
    left:-20px ;
}
.facebook i,.twitter i,
.insta i,.linkedin i,.youtube i
{
    color: #1d0035;
    font-size: 16px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    margin-right: -25px;
    transition: 0.5s;
}
.facebook:hover,.twitter:hover,
.insta:hover,.linkedin:hover,
.youtube:hover
{
    cursor: pointer;
    left: -7px;
}
.facebook:hover{
    background-color:#4168b0aa ;
}
.facebook:hover i{
    color:#4168b0 ;
}
.twitter:hover{
    background-color:#1ca2f0b0 ;
}
.twitter:hover i{
    color:#1ca2f0 ;
}
.insta:hover{
    background-color:#e2306bab;
}
.insta:hover i{
    color:#e2306b;
}
.linkedin:hover{
    background-color:#2868b2ac ;
}
.linkedin:hover i{
    color:#2868b2 ;
}
.youtube:hover{
    background-color:#fe0101a7;
}
.youtube:hover i{
    color:#fe0101;
}
.stories{
    width: 85%;
    margin: 70px auto;
}
.story-title p{
    margin-right: 20px;
    font-size: 30px;
    color: #fac401;
}
.story-list{
    width: 100%;
    margin-top: 30px;
} 
.story-content{
    width: 22%;
    height: 460px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    background-image: url('images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: 40%;
    background-size: cover;
    box-shadow: 2px 2px 10px #000;
    transition: 0.5s;
    display: inline-block;
    margin-right: 3.7%;
}
.last{
    margin-right: 0 !important;
}
.story-content:hover{
    box-shadow: 2px 2px 2px #000;
}
.story-content p{
    text-align: center;
    font-size: 22px;
    color: #3e006b;
    padding: 5px;
}
.story-content .img1,
.story-content .img2,
.story-content .img3,
.story-content .img4
{
    width: 100%;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url('images/11.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.story-content .img2{
    background-image: url('images/14.jpg'); 
    background-position: top;
}
.story-content .img3{
    background-image: url('images/28.jpg'); 
    background-position: top;
}
.story-content .img4{
    background-image: url('images/22.jpg'); 
    background-position: top;
}
.story-content .text{
    overflow: auto;
    height: 200px;
    width: 98%;
    padding: 7px;
    scrollbar-width: thin;
}
.story-content .text p,
.story-content .text h3
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 16px;
    color: #000;
}
.story-content .text h3{
    color: #3e006b;
    text-align: left;
    margin: 5px 5px;
}
.story-content .btn{
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 10px;
}
.story-content .btn button{
    position: absolute;
    left: 0px;
    top: 5px;
}
.story-content .btn i{
    position: absolute;
    right: 0;
    top: 13px;
    color: #3e006b;
    transition: 0.5s;
}
.story-content .btn i:hover{
    font-size: 25px;
    top: 11px;
    cursor: pointer;
}
@media(max-width:1260px){
    .story-content{
        width: 27%;
        margin-bottom: 40px;   
    }
    .first{
        margin-left: 3.7%;
    }
    .last{
        margin-right: 3.7%;
    }
    .story-list{
        margin: auto;
        text-align: center;
    }
    .story-title{
        text-align: center;
        margin-bottom: 20px;
    }
}
@media (max-width:1165px) {
    .story-content h3{
        text-align: justify !important;
    }       
}
@media (max-width:1024px) {
    .story-content{
        width: 40%; 
    }
    .third{
        margin-right: 3.7%;
        margin-left: 0;
    }
    .last{
        margin-left: 0;
    }
    .navbar{
        width: 100%;
        margin: 0;
        border-radius: 0;
        height: 100vh;
    }
    .overlay{
        border-radius: 0;
    }
    .social-media{
        display: none;
    }
}
@media (max-width:750px){
    .nav ul li a{
        font-size: 18px;
    }
    .main-title{
        font-size: 30px;
    }
    .text{
        font-size: 18px;
    }
    .main-title button{
        font-size: 16px;
    }
}
@media (max-width:670px){
    .story-content{
        width: 65%; 
    }
    .story-content{
        height: 500px;
    }
    .story-content .img1,
    .story-content .img2,
    .story-content .img3,
    .story-content .img4
    {
        height: 250px;
    }
    .second,.thrid{
        margin-left:3.7% ;
    }
    .third, .last{
        margin-right: 0;
    }
    .nav .links button{
        width: 100px;
    }  
}
@media (max-width:650px) {
    .nav .logo img{
        width: 80px;
        height: 80px;
    }    
}
@media (max-width:615px){
    .story-title{
        text-align: center;
    }
    .story-title p{
        text-align: center;
        margin-left: 20px;
    }
    .navbar{
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
    .fa-solid{
        display: block !important;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 30px;
        font-size: 30px;
        color: #fac401;
        transition: 0.5s;
    }
    .fa-solid:hover{
        color: #fac401a1;
    }
    ul{
        background-image: linear-gradient(to left,#1d0035df 50%,#3e006be4);
        position: absolute;
        z-index: 1;
        top: 60px;
        right: -200px;
        width: 150px;
        height: 100vh;
        transition: 0.5s;
        border-radius: 5px;
        box-shadow: 2px 2px 10px #ffffff3a;
    }
    .links:hover ul{
        right: 0;
        text-align: center;
    }
    .links ul li{
        display: block;
    }
    .links ul li a{
       line-height: 80px;
    }
    .links ul li button{
        height: 50px;
        margin-top: 25px;
        background-image: linear-gradient(to left,#fff,#fff) !important;
        color: #1d0035 !important;
    }
    .links ul li button:hover{
       opacity: 0.8;
    }
    .overlay{
        background-image: linear-gradient(to left,#1d0035c8 50%,#3e006b6f);
    }
    .stories{
        margin-top: 25px;
    }
}
@media (max-width:400px){
    .story-content{
        width: 80%; 
    }
}
@media (max-width:300px){
    .story-content{
        width: 95%; 
    }
}

