<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navbar</title>
        <style>
            a{
                color: #e9d08d;
                text-decoration: none;
                font-size: 18px;
            }
        </style>
    </head>
    <body bgcolor="#181818">
        <header>
           <nav class="navbar">
              <div class="navbar-links">
                <br/>
                 &nbsp;&nbsp;&nbsp;
                 <a href="../Home.html"     target="content" >Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <a href="../About.html"    target="content">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <a href="../Services.html" target="content">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <a href="../Contacts.html" target="content">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
           </nav>
        </header>
    </body>
</html>