<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sidebar</title>
        <style>
             h2{
                color: #e9d08d;
            }
            a{
                color: #e9d08d;
                font-size: 18px;
                text-decoration: none;
            }
        </style>
    </head>
    <body bgcolor="#181818">
        <section class="sidebar">
            <div class="content">
                <div class="links">
                    <br/>
                    &nbsp;&nbsp;&nbsp;
                    <a href="../Furniture.html" target="content">Furniture</a><br/><br/>&nbsp;&nbsp;&nbsp;
                    <a href="../Decore.html"    target="content">Decore</a><br/><br/> &nbsp;&nbsp;&nbsp;
                    <a href="../Lighting.html"  target="content">Lighting</a><br/><br/> &nbsp;&nbsp;&nbsp;
                    <a href="../Videos.html"    target="content">Videos</a><br/><br/> &nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </section>
    </body>
</html>